@import "../node_modules/bootstrap";

//$body-color: red;
//
//body {
//    color: $body-color;
//}

.aaaaa {
    color: red;
}

.hide-block {
    display: none !important;
}

.show-block {
    display: block;
}
